# SEMANA 03
Flor Elizabeth Cerdán León

Temas
1. Colecciones de datos
2. Estructuras Decisivas y Estructuras repetitivas
3. Clases y objetos
4. Funciones

1. Colecciones

In [2]:
# 1.1 Listas
# Es una colección de elementos que pueden ser ordenada, modificada, etc...
# Se idenetifica a traves de corchetes
# Ejemplo:
aula = ['Bernaola', 'Chipana', 'Gomez','Navarro']
print(aula)

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [5]:
aula

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [6]:
print(aula[0])
print(aula[1])

Bernaola
Chipana

In [7]:
# Puedo asignar un valor a una posición de la lista
aula[1] = 'Leon'
aula[1]

'Leon'

In [8]:
aula

['Bernaola', 'Leon', 'Gomez', 'Navarro']

In [9]:
# Par agregar un elemneto que utilizo append
aula.append("Hermitaño")
aula.append("Gomez")
aula

['Bernaola', 'Leon', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [10]:
# Para eliminar elementos utilizamos remove[]
aula.remove("Bernaola")
aula

['Leon', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [11]:
# Si hubiera varios elementos de valoes iguales se elimina la primer coincidencia
aula.remove("Gomez")
aula

['Leon', 'Navarro', 'Hermitaño', 'Gomez']

In [12]:
# Para obtener el tamaño utilizamos len()
len(aula)

4

In [14]:
# Para recorrer podemos utilizar una estructura repetitiva
for alumno in aula:
    print(alumno)

Leon
Navarro
Hermitaño
Gomez

In [15]:
# Para invertir la lista utilizamos reverse()
# Invertir No significa ordenar en forma descendente sin invertir la lista
aula.reverse()
aula

['Gomez', 'Hermitaño', 'Navarro', 'Leon']

In [16]:
# Para ordenar una lista utilizamos sort()
aula.sort()
aula

['Gomez', 'Hermitaño', 'Leon', 'Navarro']

In [17]:
# 1.2 Tuplas
# Es una colección de elementos ordenada(Ordenado significa que tiene un índice) que no se puede modificar, es inalterable.
# No se pueden agregar elementos, ni eliminar
# Se identifica por los parentesis
tupla_aula = ('Bernaola', 'Chipana', 'Gomez','Navarro')
tupla_aula

('Bernaola', 'Chipana', 'Gomez', 'Navarro')

In [18]:
# Para recorrer podemos utilizar una estructura repetitiva
for alumno in tupla_aula:
    print(alumno)

Bernaola
Chipana
Gomez
Navarro

In [19]:
#  Se puede extraer un elemnto por su posición
tupla_aula[2]

'Gomez'

In [20]:
len(tupla_aula)

4

In [21]:
# 1.3 Conjuntos
# Es una colección de elementos que no está ordenado(significa que no tiene un índice)
conjunto_aula = {'Bernaola', 'Chipana', 'Gomez','Navarro'}
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro'}

In [22]:
# Usando for
for alumno in conjunto_aula:
    print(alumno)

Navarro
Bernaola
Gomez
Chipana

In [23]:
# OBSERVACIÓN: No se puede acceder por posición pues no considera indexación
# Ejemplo:
# conjunto_aula[2] devolovería un mensaje de error

In [24]:
len(conjunto_aula)

4

In [25]:
# función add()
conjunto_aula.add("Levano")
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Levano', 'Navarro'}

In [26]:
# eliminar
conjunto_aula.remove("Chipana")
conjunto_aula

{'Bernaola', 'Gomez', 'Levano', 'Navarro'}

In [28]:
# 1.4 Diccionario
# Es una colección de datos, que están indexados, no estan ordenados y se puede modificar
# Son escritos entre llaves y estan formados por pares ordenados: INDICE: VALOR
diccionario_aula = {2:'Bernaola', '1':'Chipana', 'dos': 'Gomez', '3': 'Navarro', '0':'levano'}
diccionario_aula

{2: 'Bernaola', '1': 'Chipana', 'dos': 'Gomez', '3': 'Navarro', '0': 'levano'}

In [29]:
diccionario_aula['0']

'levano'

In [30]:
diccionario_aula[2]

'Bernaola'

In [31]:
diccionario_aula["1"]

'Chipana'

In [32]:
diccionario_aula["dos"]

'Gomez'

In [33]:
# Para añadir un par d elementos al diccionario hacemos:
diccionario_aula['20'] = "Vilca"
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'levano',
 '20': 'Vilca'}

In [34]:
# Tambien puedo utulizar del()
del(diccionario_aula["dos"])
diccionario_aula

{2: 'Bernaola', '1': 'Chipana', '3': 'Navarro', '0': 'levano', '20': 'Vilca'}

In [35]:
# for
for indice in diccionario_aula:
    print(indice)

2
1
3
0
20

In [36]:
# Par aindice y valor utilizo items()
for indice, valor in diccionario_aula.items():
    print(indice, valor)

2 Bernaola
1 Chipana
3 Navarro
0 levano
20 Vilca

In [ ]:
# 1.5 Ejercicio 
# Dado una lista de [Apaza, Arteaga, Barros, Briones, Correa, De Mello, Delgado,  Diaz, Freire,Frisancho,Gallardo, Ginez,Huillca, Lanza, Lima, Lindo, Lizano, Lizano, Miguel, Prada, Quispe, Reyes, Robles, Rojas, Trejo,  Tunco,  Villalba, Yalle]
# Diseñar un código que muestre si el apellido de un estudiante(ingreso por teclado)forma parte de la lista