# SEMANA 03
Flor Elizabeth Cerdán León

Temas:

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por el teclado
5. Operadores

3. Manejo de Cadenas

In [2]:
cadena = "Universidad Peruana Unión"
cadena

'Universidad Peruana Unión'

In [3]:
# Universidad Peruana Unión
# 01234.................-2-1

In [5]:
cadena[5]

'r'

In [6]:
cadena[10]

'd'

In [7]:
" Tambien considera los espacios en blanco
cadena [11]

' '

In [8]:
# ¿Que me mostrará?
cadena[-5]

'U'

In [9]:
cadena[21]

'n'

In [10]:
# Tambien lo puedo mostrar accediendo de manera inversa
cadena[-23]

'i'

In [11]:
# Para mostar una subcadena[desde, hasta(una antes)]

In [12]:
cadena[3:8]

'versi'

In [13]:
# Para saber el tamaño de una cadena utilizamos Len()
# incluye espacios en blanco
len(cadena)

25

In [15]:
# para mostrar una cadena en mayúsculas utilizamos upper()
cadena.upper()

'UNIVERSIDAD PERUANA UNIÓN'

In [16]:
cadena

'Universidad Peruana Unión'

In [17]:
# para mostrar una cadena en minusculas utilizamos lower()
cadena.lower()

'universidad peruana unión'

In [18]:
# Generar una lista a partir de una cadena.split()
cadena.split()

['Universidad', 'Peruana', 'Unión']

In [19]:
#  Generar una lista utilizando un citerio de separación a partir de una cadena.split()
# Vamos a generar una lista de toda la cadena, criterio de separación: Letra "a"
cadena.split("a")

['Universid', 'd Peru', 'n', ' Unión']

In [20]:
# Imprimir dando formato
# forma clásica "+"
# .format()
# f

In [21]:
# forma clásica, concatenar "+"
nombre = "Flor Cerdán"
print("Buenos dias " + nombre)

Buenos dias Flor Cerdán

In [22]:
# .format()
nombre = "Pablo Lévano"
edad = 19
print("hola {} ya sé que tienes {} años".format(nombre,edad))

hola Pablo Lévano ya sé que tienes 19 años

In [29]:
# Dar formato a números con muchos decimales
resultado = 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f}".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [25]:
# Utilizando formato: f
nombre = "Flor Lévano"
edad = 16
print(f"Buenos días {nombre}, ya sé que tienes {edad} años")

Buenos días Flor Lévano, ya sé que tienes 16 años

In [34]:
# Dar formato a números con muchos decimales con f
resultado = 10/3
print(f"10/3 es = {resultado} ")
print(f"10/3 es = {resultado:.2f} ")

10/3 es = 3.3333333333333335
10/3 es = 3.33