# SEMANA 03

Flor Elizabeth Cerdán

Temas:

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por el teclado
5. Operadores

2. Variables

In [1]:
# Siempre debe iniciar con una letra o un guión(Nunca con un número u otro símbolo)

In [2]:
edad=25

In [3]:
edad

25

In [20]:
nombre = "Flor "

In [21]:
nombre

'Flor '

In [22]:
apellido = "Cerdán León"

In [23]:
apellido

'Cerdán León'

In [24]:
nombrecompleto = nombre + apellido

In [19]:
nombrecompleto

'Flor Cerdán León'

In [25]:
# Para saber que tipo de variable utilizamos la función type()
#Ejemplo:
numero = 50
type(numero)

int

In [26]:
type(nombre)

str

In [27]:
talla = 1.68

In [28]:
type(talla)

float

In [29]:
#  Para convertir una cadena a un decimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [30]:
type(numero2)

float